# This is an example file.
# Copy this file to a new file named .env and replace the placeholders with your actual API keys.
# This .env file will be ignored by git.

FINNHUB_API_KEY="YOUR_FINNHUB_API_KEY_HERE"
FINNHUB_PREMIUM_KEY="YOUR_PREMIUM_KEY_HERE"